.footer {
    background-color: #a7a8a8;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.header {
    background-color: #a1badb;
    color: #000000;
    padding: 20px;
    text-align: center;
}

table{
    width: 100%;
    border: 1px solid #000000;
    margin: 20px 0;
}

tr, td {
   
    
    text-align: center;
}

dt {
    font-weight: bold;
    font-size: 1.1em;
    
}

section{
    
    padding: 10px;
    border: 1px solid #000000;
    margin: 10px;
    background-color: #c1d6f1;
}

img {
    border: 1px solid #000000;
}

body {
    background-color: #327be9;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 20px;
    width: 800px;
}

article {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f0f8ff;
    text-align: center;
}

ul {
    list-style-type: square;
    margin: auto;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: underline;
}

